//////////////Themes Styles ////////////////
$primary-color: #2cdb91;
$secondary-color: #313131;
$white-color: #f3f3f3;
$text-color: #656565;
$link-color: #1fe078;

$m-white-color: #ffff;
$t-white-color: rgba(255, 255, 255, 0.137);
$overlay-color: rgba(0, 0, 0, 0.329);
