//////////////Themes Styles ////////////////
$primary-color: #2cdb91;
$secondary-color: #313131;
$white-color: #f3f3f3;
$text-color: #656565;
$text-hover-color: #525252;
$link-color: #1fe078;
$btn-green-active: #29d48d;
$btn-dark-hover: rgb(170, 170, 170);

$m-white-color: #ffff;
$grey-hover: rgb(238, 238, 238);
$dark-hover: rgb(221, 221, 221);
$effect-white-color: rgba(250, 250, 250, 0.137);
$overlay-color: rgba(0, 0, 0, 0.329);

$login-icon: #424040;
$login-btn: #424040;
$login-btn-hover: #464646;

//////// form colors //////
$light-color: #f4fffa;
$btn-color: #16e08c;
$btn-click-color: #11cf80;

$delte-color: rgb(231, 44, 44);

$aler-success: #24e092e8;
$aler-danger: #db564de8;

///////////// index ////////////////
$index-9: 90;
$index-8: 80;
$index-7: 70;
$index-6: 60;
$index-5: 50;
$index-4: 40;
///////////////// Mixins //////////////
@mixin flex($center, $direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: $center;
  align-items: center;
}

@mixin effect($width, $radius) {
  border: $width solid transparent;
  border-radius: $radius;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: $effect-white-color;
  }
  &:active {
    background-color: $effect-white-color;
    transform: scale(1.1);
    border: $width solid $effect-white-color;
  }
}
