@import "./variables";
@import "./animation";
@import "./base";

.header {
  width: 100%;

  i {
    font-size: 1.3rem;
    color: $m-white-color;
  }

  &__menu-btn {
    cursor: pointer;
    border: 0.3rem solid transparent;
    padding: 0.3rem 0.5rem;
    @include effect(0.3rem, 10rem);

    @media (min-width: 1264px) {
      display: none;
    }
  }

  &__nav {
    width: 100%;
    background-color: $primary-color;
    color: $m-white-color;
    padding: 0.7rem 4rem;

    @media (max-width: 700px) {
      padding: 0.5rem;
    }

    @include flex(space-between, row);

    &-left {
      width: 50%;
      @include flex(flex-start, row);
    }
    &-right {
      width: 50%;
      text-align: right;
      @include flex(flex-end, row);
    }

    &-logo {
      @include flex(space-between, row);
      font-size: 1.7rem;
      font-weight: 600;
      margin-left: 2rem;
      cursor: pointer;

      img {
        width: 1.7rem;
        margin-right: 1rem;

        @media (max-width: 700px) {
          width: 1.4rem;
        }
      }
    }

    a {
      @include effect(0.3rem, 10rem);
      color: $m-white-color;

      width: auto;

      @media (max-width: 700px) {
        @include effect(0.3rem, 10rem);
      }
    }
  }

  span {
    &.sp-notification {
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}

////////////// Styles for Navigation Drawer///////////////////
.navigation-drawer {
  font-size: 1rem;
  width: 18rem;
  height: 100vh;
  //display: none;

  // border: 1px solid peru; //for debugging
  background-color: $m-white-color;
  box-shadow: 4px 8px 16px 2px rgba(19, 19, 19, 0.281);

  position: fixed;
  top: -1px;
  left: -50rem;
  z-index: 80;
  transition: all 0.3s ease-in-out;

  @media (min-width: 1264px) {
    box-shadow: none;
    border: 1px solid rgb(207, 207, 207);
    display: flex;
    left: -1px;
  }

  &.open {
    left: -1px;
  }
}

.overlay {
  background-color: $overlay-color;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
  transition: all 0.3s ease-in-out;

  display: none;
  animation-duration: 1s;

  &.on {
    display: block;
  }
}

///////////////////////// Main section //////////////////////
.main {
  width: 100%;
  height: 100vh;
  padding: 1rem;

  @include flex(flex-start, column);

  @media (max-width: 700px) {
    padding: 0.5rem;
  }

  //////////////////// Main . filter styles ///////////////////
  &__filter {
    // border: 1px solid peru; // for debugging
    @include flex(space-around, row);
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    color: $text-color;
    font-size: 1rem;

    @media (max-width: 700px) {
      @include flex(flex-start, column);
    }

    &--m-sort {
      @include flex(flex-start, row);
      width: 100%;
      margin-bottom: 0.5rem;
      position: relative;
      cursor: pointer;
      border: 1px solid peru;

      ul {
        list-style: none;
        margin-left: 0.4rem;
      }

      @media (min-width: 700px) {
        display: none;
      }
    }

    &--sort {
      justify-self: flex-start;
      @include flex(center, row);

      cursor: pointer;
      transition: all 0.3s ease;

      .sort {
        border-radius: 5rem;
        padding: 0.5rem 0.7rem;
        transition: all 0.3s ease-in-out;
        border: 2px solid transparent;

        &:hover {
          background-color: $white-color;
        }
        &:active {
          border-color: #ddd;
        }
      }

      &:hover,
      &:active {
        color: $text-hover-color;
      }
      span {
        margin-left: 3px;
      }

      &-name {
        margin-left: 1rem;
      }

      @media (max-width: 700px) {
        display: none;
      }
    }

    &--search {
      @include flex(space-between, row);
      background-color: $white-color;
      width: 20rem;
      height: 2.5rem;
      border: 1px solid #ddd;
      border-radius: 5rem;

      @media (max-width: 700px) {
        width: 18rem;
      }

      .search-field {
        font-size: 1rem;
        font-weight: 550;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding-left: 1rem;
        color: $text-color;
      }

      .search-icon {
        @include flex(center, row);
        width: 50px;
        height: 100%;
        padding: 0.5rem;
        border-radius: 5rem;
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: $effect-white-color;
        }
        &:active {
          background-color: $btn-dark-hover;
          color: $white-color;
        }
      }
    }
  }
}
