@import "./variables";
@import "./animation";
@import "./base";

.header {
  width: 100%;

  i {
    font-size: 1.3rem;
    color: $m-white-color;
  }

  &__menu-btn {
    cursor: pointer;
    border: 0.3rem solid transparent;
    padding: 0.3rem 0.5rem;
    @include effect(0.3rem, 10rem);

    @media (min-width: 1264px) {
      display: none;
    }
  }

  &__nav {
    width: 100%;
    background-color: $primary-color;
    color: $m-white-color;
    padding: 0.7rem 4rem;
    position: fixed;
    z-index: $index-7;

    @media (max-width: 700px) {
      padding: 0.5rem;
    }

    @include flex(space-between, row);

    &-left {
      width: 50%;
      @include flex(flex-start, row);
    }
    &-right {
      width: 50%;
      text-align: right;
      @include flex(flex-end, row);
    }

    &-logo {
      @include flex(space-between, row);
      font-size: 1.7rem;
      font-weight: 600;
      margin-left: 2rem;
      cursor: pointer;

      img {
        width: 1.7rem;
        margin-right: 1rem;

        @media (max-width: 700px) {
          width: 1.4rem;
        }
      }
    }

    a {
      @include effect(0.3rem, 10rem);
      color: $m-white-color;

      width: auto;

      @media (max-width: 700px) {
        @include effect(0.3rem, 10rem);
      }
    }
  }

  span {
    &.sp-loggedIn {
      @media (max-width: 700px) {
        display: none;
      }
    }
  }
}

////////////// Styles for Navigation Drawer///////////////////
.navigation-drawer {
  @include flex(flex-start, column);
  font-size: 1rem;
  width: 18rem;
  height: 100vh;
  padding: 1rem;
  color: $text-color;
  //display: none;

  // border: 1px solid peru; //for debugging
  background-color: $m-white-color;
  box-shadow: 4px 8px 12px 2px rgba(19, 19, 19, 0.219);

  position: fixed;
  top: -1px;
  left: -50rem;
  //left: -1px; // remember to remove when done
  z-index: $index-9;
  transition: all 0.3s ease-in-out;

  @media (min-width: 1264px) {
    box-shadow: none;
    border: 1px solid rgb(207, 207, 207);
    display: flex;
    left: -1px;
  }

  &.open {
    left: -1px;
  }

  .user {
    @include flex(space-around, row);
    width: 100%;
    border-bottom: 1.5px solid #ddd;

    &-avatar {
      @include flex(center, row);
      width: 5rem;
      height: 4rem;
      padding: 1rem;
      border-radius: 10rem;
      background-color: $primary-color;
      color: $m-white-color;
      margin-right: 0.7rem;
    }

    &-content {
      @include flex(center, column);
      align-items: flex-start;
      width: 100%;
      padding: 1rem;

      &-text {
        font-size: 1.2rem;
        margin-bottom: 0.3rem;
      }

      &-active {
        font-size: 0.9rem;
        padding: 0.5rem;
        background-color: #c7fce6;
        color: $link-color;
        border-radius: 4px;
        transition: all 0.3s ease;

        cursor: pointer;

        &:hover {
          background-color: #bbf8df;
        }
        &:active {
          transform: translateY(1px);
        }
      }
    }
  }
}

.overlay {
  background-color: $overlay-color;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $index-7;
  transition: all 0.3s ease-in-out;

  display: none;
  animation-duration: 1s;

  &.on {
    display: block;
  }
}

///////////////////////// Main section //////////////////////
.main {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-top: 4rem;
  @include flex(flex-start, column);

  @media (max-width: 700px) {
    padding: 0;
  }

  //////////////////// Main . filter styles ///////////////////
  &__filter {
    // border: 1px solid peru; // for debugging
    @include flex(space-around, row);
    width: 90%;
    font-size: 1rem;
    padding: 1rem 0.5rem;
    padding-top: 2rem;
    margin-bottom: 1rem;

    background-color: $m-white-color;
    border-bottom: 1px solid $dark-hover;
    color: $text-color;
    z-index: $index-5;

    position: fixed;
    top: 3.5rem;

    @media (max-width: 700px) {
      @include flex(flex-start, column);
      padding: 0.5rem 0.5rem 0.5rem 1rem;
      width: 100%;
    }

    &--search {
      @include flex(space-between, row);
      background-color: $white-color;
      width: 80%;
      height: 2.5rem;
      border: 2px solid #ddd;
      border-radius: 5rem;
      transition: all 0.3s ease-in-out;

      @media (max-width: 700px) {
        width: 90%;
      }

      &.focus {
        border-color: $primary-color;
        background-color: $m-white-color;
      }
      .search-field {
        font-size: 1rem;
        font-weight: 550;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding-left: 1rem;
        color: $text-color;
      }

      .search-icon {
        @include flex(center, row);
        width: 50px;
        height: 100%;
        padding: 0.5rem;
        border-radius: 5rem;
        border: 2px solid transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $primary-color;
        }
        &:active {
          background-color: $primary-color;
          color: $m-white-color;
          border-color: #2cdb92d0;
        }
      }
    }
  }

  ////////////////////// Account styles //////////////

  &__search-result {
    @include flex(center, row);
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    background-color: $m-white-color;
    z-index: $index-4;

    position: fixed;
    visibility: hidden;
    p {
      text-align: center;
      font-size: 2rem;
      padding: 1rem;
      color: $text-color;

      @media (max-width: 700px) {
        margin-top: 2rem;
      }
      @media (max-width: 560px) {
        font-size: 1.3rem;
      }
    }
    &.open {
      visibility: visible;
    }
  }

  //////////////////// Search result styles ///////////////
  &__list {
    margin-top: 6rem;
    display: block;
    width: 80%;
    transition: all 0.3s ease-in-out;

    @media (max-width: 700px) {
      width: 95%;
      margin-top: 3.5rem;

      ///// toggling the margin top with an event
    }
    @media (max-width: 560px) {
      width: 100%;
    }

    &-items {
      @include flex(space-between, row);
      padding: 0.5rem 1rem;
      border-bottom: 1px solid $grey-hover;
      transition: all 0.3s ease-in-out;
      position: relative;

      &:nth-child(odd) {
        background-color: $white-color;
      }
      &:nth-child(even) {
        background-color: $m-white-color;
      }

      @media (max-width: 560px) {
        padding: 0.5rem;

        &.onpress {
          width: 100%;
          margin-left: -2rem;
          box-shadow: 0 2px 8px 1px rgba(19, 19, 19, 0.205);
          z-index: $index-4;
        }
      }
      //////// the bank image //////////////
      &-bank {
        width: 5rem;
        @media (max-width: 700px) {
          width: 4.5rem;
        }

        img {
          width: 100%;
        }
        @media (max-width: 560px) {
          img {
            width: 72px;
          }
        }
      }
      ////// the account details name and acc number
      &-acc {
        @include flex(space-between, row);
        flex: 2;
        margin: 0 3rem 0 3rem;
        color: $text-color;
        font-size: 1rem;
        font-weight: 600;

        /// toggling class margin-left
        &.mleft {
          margin-left: 0.3rem;
        }

        &-name {
          font-size: 1.1rem;
          text-transform: capitalize;
        }
        &-number {
          color: $text-hover-color;
          font-size: 1.3rem;
        }
        // style for 700px and below
        @media (max-width: 800px) {
          margin: 0 1rem 0 1rem;
        }

        // styles for 560px and below
        @media (max-width: 560px) {
          @include flex(center, column);
          align-items: flex-start;
          margin-left: 1rem;
          margin-right: 0;

          &-name {
            font-size: 1rem;

            min-height: 24px;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            resize: horizontal;
          }
          &-number {
            color: $text-hover-color;
            font-size: 1.1rem;
            width: 200px;
          }
        }
      }
      &-delete {
        @include flex(center, row);
        flex: 0.5;
        cursor: pointer;

        .del {
          @include flex(center, row);
          @include effect(0.1rem, 10rem);
          max-width: 2.5rem;
          padding: 0.6rem;
          &:hover {
            background-color: #ddd;
          }
          &:active {
            background-color: rgba(233, 40, 40, 0.514);
            border-color: rgba(231, 44, 44, 0.63);
            color: rgb(231, 44, 44);
          }
        }

        @media (max-width: 560px) {
          background-color: rgb(231, 44, 44);
          box-shadow: inset 3px 0 8px 2px rgba(19, 19, 19, 0.219);
          position: absolute;
          width: 4rem;
          height: 100%;
          top: 0;
          right: -2rem;

          color: $white-color;
          cursor: none;
          visibility: hidden;

          &.open {
            visibility: visible;
          }

          .del {
            &:hover {
              background-color: rgb(216, 41, 41);
            }
            &:active {
              background-color: transparent;
              border-color: transparent;
              color: $white-color;
            }
          }
        }
      }
    }
  }

  &__btn {
    @include flex(center, row);
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    color: $m-white-color;
    cursor: pointer;
    border: none;
    border-radius: 5rem;
    outline: none;
    background-color: $btn-color;
    box-shadow: 0 4px 8px 2px rgba(19, 19, 19, 0.219);
    transition: all 0.3s ease-in-out;

    z-index: $index-5;

    position: fixed;
    bottom: 3rem;
    right: 2rem;

    &:hover {
      box-shadow: 0 8px 12px 3px rgba(19, 19, 19, 0.219);
    }
    &:active {
      background-color: $btn-click-color;
      transform: translateY(1px);
    }

    @media (max-width: 560px) {
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }
}

.form-container {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  z-index: $index-8;

  &.open {
    visibility: visible;
  }

  .form-wrapper {
    max-width: 90%;
    height: 400px;
    background-color: $m-white-color;
    border-radius: 5px;
    box-shadow: 0 8px 16px 4px rgba(0, 0, 0, 0.15);
    position: relative;

    .close {
      color: #ddd;
      font-size: 1.3rem;

      position: absolute;
      top: 1px;
      right: 20px;
      padding: 0.2rem;
      border: 1px solid transparent;
      @include effect(0.3rem, 10rem);

      i {
        &:hover {
          color: rgb(114, 114, 114);
        }
        :active {
          border-color: $dark-hover;
          @include effect(0.3rem, 10rem);
        }
      }
    }

    .form {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      padding: 2rem 1rem;
      font-size: 1rem;
      color: #333;

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      .bank-selection {
        width: 100%;
        height: 60px;
        padding: 0.5rem;
        border-radius: 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

        .bank-image {
          width: 80px;

          img {
            width: 100%;
            border-radius: 3px;
          }
        }

        .select-box {
          width: 175px;
          padding: 1rem;
          font-size: 1rem;
          color: #444;
          margin-left: 10px;
          background-color: $m-white-color;
          color: rgb(117, 117, 117);
          position: relative;
          cursor: pointer;

          display: flex;
          flex-direction: column;

          .option-container {
            width: 100%;
            max-height: 0px;
            opacity: 0;
            border-radius: 0 0 3px 3px;
            background-color: $m-white-color;
            transition: all 0.4s ease;
            overflow: hidden;

            position: absolute;
            top: 40px;
            left: 0;

            &.active {
              max-height: 300px;
              opacity: 1;
              overflow-y: scroll;
            }
            .option,
            .selected {
              padding: 0.5rem 0.8rem;
            }
            .option {
              &:hover {
                background-color: #e9f1ee;
              }
              .radio {
                display: none;
              }
              label {
                cursor: pointer;
              }
            }
          }
        }
      }
      // Adding shadow to the option container when focused on
      .shadow {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }

      .addInput {
        padding: 1rem;
        border: 1px solid #ddd;
        border-radius: 3px;
        background-color: $m-white-color;
        outline: none;
        transition: all 0.3s ease;
        color: #444;
        font-size: 1rem;

        &:focus {
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid $primary-color;
        }
      }
      .account-name {
      }
      .account-number {
      }

      .submit {
        font-size: 1rem;
        padding: 1rem;
        border: none;
        border-radius: 3px;
        color: $m-white-color;
        letter-spacing: 1.5px;
        background-color: $btn-color;
        transition: all 0.3s ease;
        outline: none;

        &:focus {
          background-color: $btn-click-color;
        }
      }
    }
  }
}

.wrapper-login {
  @include flex(center, row);
  align-items: flex-start;
  padding-top: 2rem;
  width: 100%;
  height: 100vh;
  z-index: $index-9;

  position: fixed;
  top: 0;
  left: 0;
  background-color: $primary-color;

  //visibility: hidden; // will remove it later

  &.on {
    display: none;
  }
  .login {
    @include flex(center, column);
    font-size: 1rem;
    width: 300px;
    padding: 1rem 0.3rem;
    //border: 1px solid peru; //for debugging

    &-logo {
      @include flex(center, row);
      width: 100%;
      font-size: 2rem;
      margin-bottom: 1.5rem;

      img {
        width: 1.7rem;
        margin-right: 0.5rem;
      }
      span {
        color: $m-white-color;
        font-weight: 600;
      }
    }

    &-form {
      @include flex(center, column);
      width: 100%;

      .input-box {
        @include flex(space-between, row);
        width: 100%;
        margin-bottom: 1rem;
        color: $login-icon;
        padding: 0 0 0 0.5rem;
        border: 2px solid transparent;
        border-radius: 3px;
        background-color: $white-color;
        transition: all 0.3s ease-in-out;

        &:focus-within {
          border-bottom: 2px solid $dark-hover;
          box-shadow: 0 4px 10px 2px rgba(19, 19, 19, 0.171);
        }

        .login-input {
          width: 90%;
          font-size: 1rem;
          padding: 0.7rem 0.7rem;
          color: $text-hover-color;
          border: none;
          border-bottom: 2px solid transparent;
          outline: none;
          box-shadow: 0 4px 8px 1px rgba(19, 19, 19, 0.096);
          transition: all 0.3s ease;
        }
      }
      .login-btn {
        font-size: 1rem;
        width: 100%;
        padding: 0.7rem;
        text-align: center;
        background-color: $login-btn;
        color: $text-color;
        border: none;
        border-radius: 3px;
        outline: none;
        box-shadow: 0 4px 8px 1px rgba(19, 19, 19, 0.096);
        transition: all 0.3s ease;

        &:hover {
          color: rgb(155, 155, 155);
          background-color: $login-btn-hover;
          box-shadow: 0 4px 8px 2px rgba(19, 19, 19, 0.288);
        }
        &:active {
          color: $text-color;
          background-color: $login-btn;
          box-shadow: 0 2px 6px 1px rgba(19, 19, 19, 0.226);
        }
      }
    }
    .credential {
      width: 100%;
      margin: 2rem;
      font-size: 1rem;
      text-align: center;
      padding: 0.3rem;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #ddd;
      }
      &:active {
        transform: translateY(1px);
      }

      @media (max-width: 600px) {
        font-size: 0.9rem;
      }
    }
    .credential-Main {
      cursor: default;
      margin-top: 10rem;
      color: $primary-color;
    }
  }
}
